---
layout: page
# The playlist of posts.
---

<!-- Daniel Caesar - Do you like me? -->
<iframe
  style="border-radius: 12px"
  src="https://open.spotify.com/embed/track/6phkEy1YzAK1JWZWgwC36v?utm_source=generator"
  width="49.75%"
  height="152"
  frameborder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>

<!-- The Weekend - Out of Time -->
<iframe
  style="border-radius: 12px"
  src="https://open.spotify.com/embed/track/2SLwbpExuoBDZBpjfefCtV?utm_source=generator"
  width="49.75%"
  height="152"
  frameborder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>

<!-- Kanye West - Runaway -->
<iframe
  style="border-radius: 12px"
  src="https://open.spotify.com/embed/track/3DK6m7It6Pw857FcQftMds?utm_source=generator"
  width="49.75%"
  height="152"
  frameborder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>

<!-- Tyler - SWEET / I THOUGHT YOU WANTED TO DANCE -->
<iframe
  style="border-radius: 12px"
  src="https://open.spotify.com/embed/track/3EG9FJ0ToLfgnc1IG2Z1wz?utm_source=generator"
  width="49.75%"
  height="152"
  frameborder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>

<!-- post malone - Circle -->
<iframe
  style="border-radius: 12px"
  src="https://open.spotify.com/embed/track/21jGcNKet2qwijlDFuPiPb?utm_source=generator"
  width="49.75%"
  height="152"
  frameborder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>
